<div class="container p-4">
   <div class="row justify-content-center">
         <div class="card text-center pr-3 mr-3" style="width: 18rem;">
         <img class="card-img-top zoom" src="../../assets/2.jpg" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">User List</h5>
               <p class="card-text">Display the list of current user subscribed to our program.</p>
               <a routerLink='/user-list' class="btn btn-primary">Show</a>
            </div>
         </div>

         <div class="card text-center pl-3 pr-3 mr-3 ml-3" style="width: 18rem;">
            <img class="card-img-top zoom" src="../../assets/fill a form.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fill the Form</h5>
              <p class="card-text">Please fill this form to join the our our program.</p>
              <button class="btn btn-primary" (click)="goToUserForm()">Click</button>
            </div>
         </div>

          <div class="card text-center pl-3 ml-3" style="width: 18rem;">
            <img class="card-img-top zoom" src="../../assets/contact-us.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Contact us</h5>
              <p class="card-text">If you have any query regarding the program you can freely contact us.</p>
              <a  class="btn btn-primary">Fill the form</a>
            </div>
          </div>
   </div>
</div>